* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 100px auto;
}

.box {
  width: 100%;
  line-height: 30px;
  text-align: justify;
  padding: 40px;
  /* border: 1px solid black; */
}

.box h4 {
  font-size: 23px;
}

.box p {
  font-size: 19px;
}

/* !below is the actual code for that border */
/* !below is the actual code for that border */
/* !below is the actual code for that border */
/* !below is the actual code for that border */
.box {
  position: relative;
  /* *this code is to place the below pseudo classes wrt this */
}

.box:nth-child(odd):before {
  content: "";
  width: 90%;
  height: 100%;

  position: absolute;
  top: 0px;
  right: 0px;

  border-top: 2px dashed orchid;
  border-right: 2px dashed orchid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.box:nth-child(even)::before {
  content: "";
  width: 90%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;

  border-top: 2px dashed orchid;
  border-left: 2px dashed orchid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.box:nth-child(1)::before {
  border-top: 0;
}

/* !below is the actual code for that circle */
/* !below is the actual code for that circle */
/* !below is the actual code for that circle */
/* !below is the actual code for that circle */
.circle {
  width: 40px;
  height: 40px;
  background: orchid;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  position: relative;
  /* *this code is to place the below circle div wrt this */
}

.box:nth-child(odd) .circle {
  position: absolute;
  top: calc(50% - 20px);
  right: -20px;
}

.box:nth-child(even) .circle {
  position: absolute;
  top: calc(50% - 20px);
  left: -20px;
}
