*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50vw;
    height: 70vh;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "a a b"
    "a a b"
    "c . b"
    "d d d"
    "e f f";
    gap: 10px 10px;
}

.cell-1{
    background-color: brown;
    grid-area: a;
}

.cell-2{
    background-color: orange;
    grid-area: b;
}

.cell-3{
    background-color: red;
    grid-area: c;
}

.cell-4{
    background-color: darkblue;
    grid-area: d;
}

.cell-5{
    background-color: green;
    grid-area: e;
}

.cell-6{
    background-color: gray;
    grid-area: f;
}

